.sendMail{
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 50%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* IE6,7,9,10 */
@media screen and (min-width: 640px), screen\9 {
    selector { property:value; }
}

.sendMail__header{
    display: flex;
    padding: 13px;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.sendMail_form {
    flex: 1;
    display: flex;
}

.sendMail__header > h1 {
    color: whitesmoke;
    font-size: 13px;
}

.sendMail__options > .MuiButtonBase-root {
    color: #f8f8f8 !important; 
    align-self: end;
}

.sendMail__send > .MuiButtonBase-root {
    text-transform: capitalize !important;
}

.sendMail__send{
    background-color: #3079ed !important;
    margin: 15px !important;
}

.sendMail__close{
    cursor: pointer;
}

form{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input {
    padding: 10px;
    border: none;
    height: 30px;
    border-bottom: 3px solid whitesmoke;
    outline: none;
}

.sendMail__message{
    width: 100%;
    outline-width: 0;
}